<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Twitch2Steam.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Twitch2Steam.Settings>
            <setting name="Port" serializeAs="String">
                <value>443</value>
            </setting>
            <setting name="IrcServer" serializeAs="String">
                <value>irc.twitch.tv</value>
            </setting>
            <setting name="IrcName" serializeAs="String">
                <value>YourTwitchNameHere</value>
            </setting>
            <setting name="IrcPassword" serializeAs="String">
                <value>oauth:YourOauthKeyHere</value>
            </setting>
            <setting name="Admins" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="SteamName" serializeAs="String">
                <value>YourSteamLoginNameHere</value>
            </setting>
            <setting name="SteamPassword" serializeAs="String">
                <value>YourSteamPasswordHere</value>
            </setting>
        </Twitch2Steam.Settings>
    </userSettings>
</configuration>